from logging import getLogger
from sys import exit

import pandas as pd

log = getLogger()


class NoOutputDataframeException(Exception):
    ...


def get_dataframe() -> pd.DataFrame:
    # source code
    {{ sourceCode | indent(4, first=False) }}

    return __df_output__


def write_bigquery():
    df = get_dataframe()

    if df.dropna().empty:
        log.error("Nenhum conteúdo encontrado para __df_output__")
        exit(99)

    log.info("Executando method bigquery")

    table_fields: dict = {{ tableSchema }}
    table_schema = [
        {"name": field.get("name"), "type": field.get("type")}
        for field in table_fields.get("fields", [])
    ]

    df.to_gbq(
        destination_table="{{ dataset }}.{{ destinationTable }}",
        chunksize={{ chunksize }} or None,
        location="{{ location }}",
        if_exists="{{ writeMode }}",
        project_id="{{ projectId }}",
        table_schema=table_schema,
    )

    log.info("Tabela '{{ dataset }}.{{ destinationTable }}' atualizada com sucesso.")


if __name__ == "__main__":
    write_bigquery()
    exit(0)
